spring:
  datasource:
    initialization-mode: always
    url: jdbc:h2:mem:openclose
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect

producer:
  kafka:
    topics:
      partitionNumber: 1
      replicaFactor: 2
      restaurantsTopic: open_close_restaurants