version: '2'
services:
  zookeeper:
    container_name: 
      zookeeper_merge
    hostname: zoo
    image: 
      wurstmeister/zookeeper
    ports:
      - "2181:2181"
    networks:
      - kafka_merge_net
  kafka-0:
    container_name: kafka-0
    image: confluentinc/cp-kafka:5.3.0
    hostname: kafka0
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: EXTERNAL_SAME_HOST://:29092,INTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka0:9092,EXTERNAL_SAME_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL_SAME_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zoo:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
    volumes:
      - ./zk-single-kafka-multiple/kafka0/data:/var/lib/kafka/data
    depends_on:
      - zoo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - kafka_merge_net
  backend-service-0:
    container_name: backend-0
    build:
        context: ../../spring-boot/microservices/openclose-service
        dockerfile: Dockerfile
    image:
      openclose-service:latest
    ports:
      - "8080:8080"
    depends_on:
      - kafka0
    environment:
      BE_KAFKA_PRODUCER_BROKERS: kafka0:9092
    networks:
      - kafka_merge_net
  frontend-service-0:
    container_name: frontend-0
    depends_on:
      - kafka0
    build:
        context: ../../spring-boot/microservices/frontend-service
        dockerfile: Dockerfile
    image:
      frontend-service:latest
    ports:
      - "8081:8080"
    environment:
      SERVER_PORT: 8080
      FE_KAFKA_CONSUMER_BROKERS: kafka0:9092
      FE_KAFKA_CONSUMER_CONSUMER_ID: frontend-0
      FE_KAFKA_CONSUMER_GROUP_ID: frontend-group-0
    networks:     
      - kafka_merge_net

networks:
  kafka_merge_net:
    driver: bridge